.sidebar-header:hover {
  color: white;
}
.active:hover {
  background-color: rgb(255, 255, 255, 0.3);
}
.active {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background-color: none;
}
