<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableServlet</servlet-name>
        <servlet-class>controller.TableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FoodServlet</servlet-name>
        <servlet-class>controller.FoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpAccountServlet</servlet-name>
        <servlet-class>controller.EmpAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProfileServlet</servlet-name>
        <servlet-class>controller.ManageProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFoodServlet</servlet-name>
        <servlet-class>controller.AddFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageFood</servlet-name>
        <servlet-class>controller.ManageFood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CashierController</servlet-name>
        <servlet-class>controller.CashierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>controller.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableMapServlet</servlet-name>
        <servlet-class>controller.TableMapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBillController</servlet-name>
        <servlet-class>controller.CancelBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableReservationServlet</servlet-name>
        <servlet-class>controller.TableReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableServlet</servlet-name>
        <url-pattern>/TableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FoodServlet</servlet-name>
        <url-pattern>/FoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpAccountServlet</servlet-name>
        <url-pattern>/EmpAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProfileServlet</servlet-name>
        <url-pattern>/ManageProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFoodServlet</servlet-name>
        <url-pattern>/AddFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageFood</servlet-name>
        <url-pattern>/ManageFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CashierController</servlet-name>
        <url-pattern>/CashierController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableMapServlet</servlet-name>
        <url-pattern>/TableMapServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableReservationServlet</servlet-name>
        <url-pattern>/TableReservationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/BookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBillController</servlet-name>
        <url-pattern>/CancelBillController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
